* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: aliceblue;
  width: 380px;
  height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.screen {
  /* margin-top: 5px; */
  background-color: blue;
  width: 360px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screen_1 {
  background-color: orange;
  width: 340px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 10px; */
}

.screen_2 {
  background-color: orange;
  width: 340px;
  height: 140px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

select {
  margin: 5px;
  padding: 10px;
  font-size: 1rem;
}

.screen_1_value {
  background-color: white;
  padding: 10px;
  margin: 5px;
  font-size: 1rem;
}

.button {
  background-color: blue;
  margin-top: 10px;
  width: 360px;
  height: 360px;
}
