* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: aliceblue;
  width: 380px;
  height: 700px;
  display: flex;
  justify-content: center;
}

.screen {
  margin-top: 10px;
  background-color: blue;
  width: 360px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screnn_1 {
  background-color: orange;
  width: 340px;
  height: 140px;
  /* margin-top: 10px; */
}

.screnn_2 {
  background-color: orange;
  width: 340px;
  height: 140px;
  margin-top: 10px;
}
